# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local data
*.csv
*.xlsx
data/
